<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='icon' type='image/x-icon' href='../public/favicon.ico'/>-->
    <link rel='stylesheet' href='/stylesheets/miestilo.css' type="text/css"/>
  </head>
  <body>
  	<header>
      <h1><%= title %></h1>
    </header>
    <section>
      <p>Bienvenido <%= title %> modafoca</p>
      <img src="/images/Stuff.ico" alt="icono"/>
    </section>
    <footer>
     <p>Derechos reservados venom soft &copy; 2015</p>
    </footer>
  </body>
</html>
